.wrapper {
  display: inline-flex;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: $border-radius;
}
.wrapper .option {
  background: $gray;
  height: 50%;
  width: 50%;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: $white;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: '';
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  background: $primary;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
}
input[type='radio'] {
  display: none;
}
#text:checked ~ .text,
#image:checked ~ .image,
#gif:checked ~ .gif {
  background: $primary;
}
#text:checked ~ .text .dot,
#image:checked ~ .image .dot,
#gif:checked ~ .gif .dot {
  background: $white;
}
#text:checked ~ .text .dot::before,
#image:checked ~ .image .dot::before,
#gif:checked ~ .gif .dot::before {
  opacity: 1;
}
.wrapper .option span {
  font-size: 20px;
}
