.browse-walls {
  .created-walls {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;

    .wall {
      cursor: pointer;
      padding: 30px;
      margin: 10px;
      border-radius: $border-radius;
      box-shadow: $shadow;
      width: fit-content;
    }
  }
}
