.browse-walls {
  .created-walls {
    display: flex;
    .wall {
      cursor: pointer;
      padding: 30px;
      border-radius: $border-radius;
      box-shadow: $shadow;
      background-color: $primary;
    }
  }
}
