// global colors
$white: #f4f4fe;
$black: #06060c;
$gray: #9b9b9b;
$darkgray: #303030;

// Light Theme Colors
$primary-color: #007bff;
$secondary-color: #4a5158;
$bg-color: #f8f9fa;
$bg-color-shift: #9dabb8;
$text-color: #212529;

// Dark Theme Colors
$primary-color-dark: #1de9b6;
$secondary-color-dark: #1de9b6;
$bg-color-dark: #272d32;
$bg-color-dark-shift: #3d444a;
$text-color-dark: #f8f9fa;
