// global colors
$white: #f4f4fe;
$black: #06060c;
$gray: #9b9b9b;
$darkgray: #303030;

// Light Theme Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$bg-color: #f8f9fa;
$text-color: #212529;

// Dark Theme Colors
$primary-color-dark: #1de9b6;
$secondary-color-dark: #1de9b6;
$bg-color-dark: #343a40;
$text-color-dark: #f8f9fa;
