.text-container > h1 > p {
  margin: 0;
  font-weight: normal;
}

.text-container > div:not(.toast-container) {
  margin-left: 16px;
}

.text-container > div:not(.toast-container) {
  margin-left: 16px;
}

.hidden {
  display: none !important;
}

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
