@import url('https://fonts.googleapis.com/css?family=Golos+Text:regular,bold,italic&subset=latin,latin-ext');

body {
  font-family: 'Golos Text';
}

$border-radius: 4px;

$primary: #8dd8e6;
$secondary: #8dd8e6;
$accent: #00b4cc;

$white: #f4f4fe;
$black: #06060c;
$gray: #9b9b9b;
$darkgray: #303030;

$shadow: 0 4px 6px -6px $black;
$shadowThin: 0 2px 3px -3px $black;
$shadowWhite: 0 4px 6px -6px $white;

.text-container > h1 > p {
  color: $black;
}
