.loading {
  display: block;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
.loading:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin: 8px;
  left: 50%;
  margin-left: -64px;
  top: 50%;
  position: absolute;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

>>>>>>>af0e012 (Merged) .text-container > h1 {
  margin: 0;
}

.text-container > h1 > p {
  margin: 0;
  font-weight: normal;
  margin-left: 16px;
}

.text-container > div:not(.toast-container) {
  margin-left: 16px;
}

.text-container > div:not(.toast-container) {
  margin-left: 16px;
}

.hidden {
  display: none !important;
}

.card {
  padding: 8px 16px;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card h1 {
  margin: 0;
}

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
