$shadow: 0 4px 6px -6px $black !global;
$shadowThin: 0 2px 3px -3px $black !global;
$shadowWhite: 0 4px 6px -6px $white !global;

.light {
  background: linear-gradient(
    135deg,
    rgba($bg-color, 1) 0%,
    rgba($bg-color-shift, 1) 100%
  );
  color: $text-color;

  h1 {
    color: $primary-color;
  }

  span,
  input,
  p,
  a {
    color: $secondary-color;
  }

  .icon {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(259deg)
      brightness(98%) contrast(106%);
  }

  .card {
    background-color: $primary;
  }
  .meta {
    p {
      color: $darkgray;
    }
  }
}

.dark {
  background: linear-gradient(
    135deg,
    rgba($bg-color-dark, 1) 0%,
    rgba($bg-color-dark-shift, 1) 100%
  );
  color: $text-color-dark;

  h1 {
    color: rgba($primary-color-dark, 0.8);
  }

  span,
  p,
  input,
  a {
    color: rgba($white, 0.85);
  }

  .icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(181deg)
      brightness(102%) contrast(103%);
  }

  .meta {
    p {
      color: $darkgray;
    }
  }
}

.card {
  box-shadow: $shadow;
  border-radius: $border-radius;
  background-color: rgba($primary, 0.75);
}

html,
body {
  min-height: 100%;
  height: fit-content;
}
