.light {
  .nav {
    background-color: $primary;
  }

  .searchTerm {
    border: 3px solid $accent;
  }
}

.dark {
  .nav {
    background-color: rgba($primary, 0.75);
    color: $white;
  }

  .searchTerm {
    border: 3px solid rgba($accent, 0.5);
    color: $black;
  }
}

.nav {
  padding: 20px 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow;

  .authButton {
    margin-left: 10px;
    background: $white;
    box-shadow: $shadow;
    border: none;
    border-radius: $border-radius;
    padding: 15px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .authButton:hover {
    background: rgba($white, 0.85);
    transition: all 0.4s ease;
  }

  .search {
    margin-left: 10px;
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    text-align: center;
    width: 20ch;
    height: 30px;
    border-radius: $border-radius;
  }

  .searchTerm:focus-visible {
    outline: none;
  }
}

.left-side {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  .page {
    font-size: 1.3rem;
    margin: 0 16px;
    cursor: pointer;
  }
  .selected {
    box-shadow: $shadowThin;
  }
}
