@import '../../styles/globals.scss';

.nav {
  padding: 20px 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8dd8e6 !important;
  border-bottom: 2px solid transparent;
  // border-image: linear-gradient(0.25turn, rgba(153, 69, 255, 1), rgba(20, 241, 149, 1));
  border-image-slice: 1;
  box-shadow: $shadow;
  .authButton {
    background: $white;
    color: inherit;
    box-shadow: $shadow;
    border: none;
    border-radius: $border-radius;
    padding: 15px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .authButton:hover {
    background: rgba($white, 0.85);
    transition: all 0.4s ease;
  }

  .search {
    margin-left: 10px;
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    text-align: center;
    width: 20ch;
    border: 3px solid $accent;
    height: 30px;
    border-radius: $border-radius;
    color: $black;
  }

  .searchTerm:focus-visible {
    outline: none;
  }
}

.left-side {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  .page {
    font-size: 1.3rem;
    margin: 0 16px;
    cursor: pointer;
  }
  .selected {
    box-shadow: $shadowThin;
  }
}
