.main-container {
  margin-top: 20px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  
  .heading {
    display: flex;
  }

  .heading.admin p {
    padding-right: 8px;
  }

  .heading.admin div {
    width: fit-content;
    a {
      margin: 0 4px 0 4px;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}
