.main-container {
    margin-top: 20px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .heading {
        margin-left: 10px;
        display: flex;
    }
}